* {
    padding: 0;
    margin: 0;
    font-family: 'Gilroy';
    box-sizing: border-box;
}

html,
body {
    background-color: black;
}

#opening-page {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.images-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    transform: translate(-50%, -50%) rotate(45deg);
}

.image-card {
    overflow: hidden;
    width: 200px;
    height: 300px;
    margin: 0.5rem;
    transition: all ease 0.3s;
}
.image-card:hover {
    transform: scale(1.07);
}

.image-card>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-layer {
    width: 100vw;
    height: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    font-size: clamp(3rem, 8vw, 10rem);
    overflow: hidden;
}

.text-layer>h1 {
    transform: scale(0);
}

.text-layer>h1>span {
    color: deeppink;
}